<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelin {% block page_title %}{% endblock page_title %} </title>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.6.0/venobox.min.css" type="text/css" media="screen" />
    <style type="text/css">
      .register-btn {
        color: #fefefe;
        text-decoration: none;
        float: right;
        border: 1px solid #fefefe;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.3 ease-in;
      }
      .register-btn:hover {
        text-decoration: none;
        color: #2196f3;
        background-color: #fefefe;
      }
    </style>
</head>
<body style="background-color: #eee !important">
    <header>
    <div style="height: 120px; padding: 40px;" class="navbar-inverse">
        <a href="/"><h3 style="color: #fff; margin: 0; display: inline">Pelin</h3></a>
        <a href="/register" class="register-btn">Register</a>
    </div>
    <nav class="navbar navbar-inverse" style="border-radius: 0">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="font-size: 18px">
          <ul class="nav navbar-nav">
            <li><a class="btn btn-default" href="/materi">Materi</a></li>
            <li><a href="/kategori/RPL">RPL</a></li>
            <li><a href="/kategori/MM">Multimedia</a></li>
            <li><a href="/kategori/Jaringan">Jaringan</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left search" role="search">
                <div class="form-group">
                  <input type="text" name="keyword" class="form-control" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-default">Cari</button>
            </form>
            <li><a href="/kelas" class="btn btn-danger" style="color: #fff">Kelas</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    {% block js %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.6.0/venobox.min.js"></script>
      <script type="text/javascript">
        $(document).on('submit', '.search', function(e) {
          e.preventDefault();
          var keyword = $('input[name=keyword').val();
          window.location = '/search/?q=' + keyword;
        })
      </script>
    {% endblock js %}
    {% block custom_js %}{% endblock custom_js %}
</body>
</html>